<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/signup.js"></script>
</head>

<body>
<div class="header">
    <h2>Sign Up Page</h2>
</div>

<div class="container">
    <form onsubmit="signup(); return false;">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
        </div>
        <div class="form-group-big">
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" class="form-control-big" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

</body>
</html>
